/**
 * Arthouse Owned Font Family
 * Custom font declarations
 */

/* Arthouse Owned Light (300) */
@font-face {
  font-family: 'Arthouse';
  src: url('../fonts/ArthouseOwnedLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Arthouse Owned Medium (500) */
@font-face {
  font-family: 'Arthouse';
  src: url('../fonts/ArthouseOwnedMedium 1.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Arthouse Owned Bold (700) */
@font-face {
  font-family: 'Arthouse';
  src: url('../fonts/ArthouseOwnedBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Arthouse Owned Black (900) */
@font-face {
  font-family: 'Arthouse';
  src: url('../fonts/ArthouseOwnedBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
